.vscode/
staticfiles/
__pycache__/
.Python
build/
*.log
db.sqlite3
db.sqlite3-journal
.venv/
.infofile
Procfile.lock
pativirakka/__pycache__/
pativirakka/migrations
Procfile.lock
!pativirakka/migrations/__init__.py
