[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
twilio = "*"
django-ckeditor = "*"
django-heroku = "*"
psycopg2 = "*"
whitenoise = "*"
dj-database-url = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[packages.django-cleanup]
extras = [ "dropbox",]
