bs4
faker
reportlab
requests==2.24.0
twilio==6.44.1
whitenoise==5.1.0
dj-database-url==0.5.0
django==3.0.7
django-ckeditor==5.9.0
django-cleanup==5.0.0
django-crispy-forms==1.9.2
django-heroku==0.3.1
django-storages==1.9.1
dropbox==10.3.0
Pillow==7.2.0
gunicorn==20.0.4
bpython==0.19
psycopg2==2.8.5

