{% extends 'bash.html' %}
{% block main %}
  {% comment %} <div class="container">
    <div class="row py-2">
       <div class="col-md-6 mx-auto">
          <div class="card">
             <div class="card-body">
              <div class="row">
                <div class="col">
                   <h1 class="text-center">{{ title }}</h1>
                </div>
             </div>
             <div class="row">
              <div class="col">
                 <hr>
              </div>
           </div>
                <div class="row">
                   <div class="col"> {% endcomment %}
                      {% load crispy_forms_tags %}
                      {% for form in formset %}
                           {% crispy form %}
                        {% endfor %}
                   {% comment %} </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div> {% endcomment %}

{% endblock main %}