{% extends 'bash.html' %}
{% block main %}
  <div class="container">
    <div class="row py-2">
       <div class="col-md-6 mx-auto">
          <div class="card">
             <div class="card-body">
              <div class="row">
                <div class="col">
                   <h1 class="text-center">{{ title }}</h1>
                </div>
             </div>
             <div class="row">
              <div class="col">
                 <hr>
              </div>
           </div>
                <div class="row">
                   <div class="col">
                    <form method="POST" class="">
                      {% csrf_token %}
                      {% load crispy_forms_tags %}
                      {{ forms.as_p }}
                      <div class="row text-center">
                        <div class="col">
                          <br>
                          <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
                        </div>
                     </div>
                    </form>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

{% endblock main %}